$blue: #3F51B5;
$lightBlue: #7385E9;


// mobile first
// $breakpoints: (
//  'sm': 'screen and (min-width: 576px)',
//  'md': 'screen and (min-width: 768px)',
//  'lg': 'screen and (min-width: 992px)',
//  'xl': 'screen and (min-width: 1200px)'
// ) !default;

// pc first
$breakpoints: (
 'sm': 'screen and (max-width: 576px)',
 'md': 'screen and (max-width: 768px)',
 'lg': 'screen and (max-width: 992px)',
) !default;

//メディアクエリ用のmixinを定義。デフォ値はmd
@mixin mq($breakpoint: md) {
//map-get(マップ型変数, キー)で値を取得
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
