.button .button-box {
  margin: 100px 0;
}

.button a {
  display: inline-block;
  color: white;
  padding: 16px;
  width: 230px;
  text-align: left;
  background-color: #3F51B5;
  border-radius: 3px;
}

.button a:hover {
  text-decoration: none;
}

.button .btn02 {
  position: relative;
}

.button .btn02 i {
  position: absolute;
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  font-size: 20px;
}

.button .btn03 {
  position: relative;
}

.button .btn03 i {
  position: absolute;
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
  right: 70px;
  font-size: 20px;
}

.button .btn04 {
  padding-left: 38px;
  box-shadow: 0 5px #25379B;
}

.button .btn05 {
  padding-left: 38px;
  background: -webkit-linear-gradient(to bottom, #3F51B5, #20295B);
  background: linear-gradient(to bottom, #3F51B5, #20295B);
}

.button .bg-light-black {
  background-color: #333333;
  padding: 27px 0;
}

.button .bg-light-black .btn06 {
  background: none;
  border: 3px solid white;
  border-radius: 0;
}

.button .btn07 {
  position: relative;
  background: none;
}

.button .btn07:after {
  content: "";
  position: absolute;
  width: 123px;
  height: 123px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #3F51B5;
  z-index: -1;
}

.button .btn08 {
  position: relative;
  border-radius: 28px;
}

.button .btn08 i {
  position: absolute;
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  font-size: 20px;
}

.button .btn09 {
  padding-left: 38px;
  box-shadow: 0 5px #25379B;
  border-radius: 0;
}
