$blue: #3F51B5;
$lightBlue: #7385E9;
$lightGreen: #DCEE39;
$red: #B53F4F;


// mobile first
// $breakpoints: (
//  'sm': 'screen and (min-width: 576px)',
//  'md': 'screen and (min-width: 768px)',
//  'lg': 'screen and (min-width: 992px)',
//  'xl': 'screen and (min-width: 1200px)'
// ) !default;

// pc first
$breakpoints: (
 'sm': 'screen and (max-width: 576px)',
 'md': 'screen and (max-width: 768px)',
 'lg': 'screen and (max-width: 992px)',
) !default;

//メディアクエリ用のmixinを定義。デフォ値はmd
@mixin mq($breakpoint: md) {
//map-get(マップ型変数, キー)で値を取得
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

.title-box{
  margin: 100px;

  .title1{
    border-bottom: 3px solid $blue;

    width: 475px;
  }

  .title2{
    border-bottom: 3px dotted $blue;

    width: 475px;
  }

  .title3{
     background-color: $blue;
     padding: 5px 10px;

    width: 475px;
    color: white;
  }

  .title4{
     background-color: $lightBlue;
     box-shadow: 0 3px $blue;
     padding: 5px 10px;

    width: 475px;
    color: white;
  }

  .title5{
    border-left: 5px solid $blue;
    padding: 5px 10px;
  }

  .title6{
    display: inline;
    background: linear-gradient(transparent 50%, $lightGreen 50%);
    padding: 5px 10px;
  }

  .title7{
    display: inline;
    background-color: $lightGreen;
    line-height: 1.5;
  }

  .title8{
    position: relative;
    padding: 0.6em;
    background: $blue;
    color: white;
    &:after{
      position: absolute;
      content: '';
      top: 100%;
      left: 80px;
      border: 15px solid transparent;
      border-top: 15px solid $blue;
      width: 0;
      height: 0;
    }
  }

  .title9{
    border-bottom: 3px solid $blue;
    position: relative;
    &:after{
      position: absolute;
      content: "";
      display: block;
      border-bottom: 3px solid $red;
      // bottom: -3px;
      width: 20%;
    }
  }

  .title10{
    position: relative;
    &:before{
      position: absolute;
      content: " ";
      border-left: 5px solid $blue;
      height: 50%;
      top: 50%;
      left: 0;
      transform: translate(-50%, -50%);
      padding-right: 12px;
    }
  }

  .title11{
    position: relative;
    display: inline-block;
    margin-bottom: 1em;
    &:before{
      content: '';
      position: absolute;
      bottom: -15px;
      display: inline-block;
      width: 60px;
      height: 5px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      background-color: $blue;
      border-radius: 2px;
    }
  }

  .title12{
    .fa-check{
      color: $blue;
      margin-right: 10px;
    }
    // position: relative;
    // padding-left: 0.3em;/*アイコン分のスペース*/
    // line-height: 1.4;
    // &:before{
    //   font-family: "Font Awesome";
    //   content: "\f00c";/*アイコンのユニコード*/
    //   position: absolute;/*絶対位置*/
    //   font-size: 1em;/*サイズ*/
    //   left: 0;/*アイコンの位置*/
    //   top: 0;/*アイコンの位置*/
    //   color: $blue; /*アイコン色*/
    // }
  }

  .title13{
    .fa-search{
      color: $blue;
      font-size: 35px;
      margin-left: 5px;
      top: 0;
      transform: translateY(-50%);
    }
  }

  .title14{
    position: relative;
    display: inline-block;
    padding: 0 45px;
    &:before{
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      display: inline-block;
      width: 40px;
      height: 4px;
      background-color: $blue;
      -webkit-transform: rotate(60deg);
      transform: rotate(60deg);
    }
    &:after{
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      display: inline-block;
      width: 40px;
      height: 4px;
      background-color: $blue;
      -webkit-transform: rotate(-60deg);
      transform: rotate(-60deg);
    }
  }

  .title15{
    position: relative;
    display: inline-block;
    padding: 0 150px;
    &:before, &:after{
      content: '';
      position: absolute;
      top: 50%;
      display: inline-block;
      width: 100px;
      height: 3px;
      background-color: $blue;

    }
    &:before{
      left: 0;
    }
    &:after{
      right: 0;
    }
  }

  .title16{
    color: #000;
    display: inline-block;
    // text-shadow: 0 0 5px white;
    padding: 0.3em 0.5em;
    background: -webkit-repeating-linear-gradient(-45deg, $blue, $blue 10px,$lightBlue 10px,$lightBlue 20px);
    background: repeating-linear-gradient(-45deg, $blue, $blue 10px,$lightBlue 10px,$lightBlue 20px);
  }

  .title17{
    color: #000;
    display: inline-block;
    // text-shadow: 0 0 5px white;
    padding: 0.3em 0.5em;
    position: relative;
    &:before{
      content: "";
      position: absolute;
      display: inline-block;
      width: 100%;
      height: 30px;
      top: 50%;
      left: 0;
      background: -webkit-repeating-linear-gradient(-45deg, $blue, $blue 10px,$lightBlue 10px,$lightBlue 20px);
      background: repeating-linear-gradient(-45deg, $blue, $blue 10px,$lightBlue 10px,$lightBlue 20px);
      z-index: -1;
      opacity: 0.7;
    }

  }
}